@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #090a01e2);
  filter: drop-shadow(5px 10px 5px #090a01e2);
}

.img-shadow {
  width: 250px;
  -webkit-filter: drop-shadow(5px 10px 5px #28281487);
  filter: drop-shadow(5px 10px 5px #28281487);
}

.dark .simplebar-scrollbar::before {
  background-color: white;
}

.dark .three-d {
  text-shadow: 0px 5px 0px #533519;
}
.three-d {
  text-shadow: none;
}
